.root-page {
    background-image: url("assets/star_background.jpg");
    /*background-repeat: no-repeat;*/
    background-size: cover;
    
}

button {
    background-color: rgb(115, 90, 207);
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: rgb(115, 90, 207);
}


.flexbox-container1 {
    display: flex;
    flex-direction: column;/* This will make boxes be in column*/
    flex-wrap: wrap;
    justify-content: flex-start; /*boxes will start where Main Axis starts */
    align-items: stretch; /*Default is Stretch, which makes boxes stretch the width of the container*/
    align-content:center  ; /*This is only for multi line flex box containers. Determines where text within each flexbox starts*/
    /*background-image: linear-gradient(transparent, black), url('https://images.ctfassets.net/usf1vwtuqyxm/3PHzXWhXtp3iqmO6LcVTVc/1ec47225dc761a1a94a2957057b1613b/MM_Homepage.jpg?w=1440&h=1024&fit=fill&fm=webp');*/
    background-image: linear-gradient(transparent, black), url('https://images.ctfassets.net/usf1vwtuqyxm/11CTuYYhRFqCz0v6vVkizE/a31b1a8f71cf8a87ff0cee11665f60fb/Wand_experience_Ollivanders_exterior__Normal_width.jpg?w=2880&h=1740&fit=fill&fm=webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-box1:hover {
    background-color: black;
    background: linear-gradient(rgb(65, 63, 63), black);
}

.logo-box1 {
    min-height: 100px;
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;

}

#logopic {
    align-self: center;
}

#login-button {
    font-family: Sofia Pro, serif;
    font-style: normal;
    color: white;
    padding: 5px 10px 5px;
    border-radius: 4px;
    align-self: flex-start;
    margin-right: 7.5%;
    margin-bottom: 1.5%;
    width: 90px;
    height: 30px;

}

.navBar-box2 {
    align-items: center;
    border-top: 1px solid hsla(0,0%,100%,.15);

}

.navlinks ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
}
.navlinks li{
    display: inline;
    margin: 0 5px;
    color: white;
    font-weight:bold;
}

.navlinks a{
    font-family: Sofia Pro, serif;
    font-size: 14px;
    font-weight: bold;
}

.beasts-logo-box3 {
    min-height: 100px;
    width: 100%;
    min-height: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;

}

.magical-mischief-box4 h1 {
    font-family: Bluu Next, serif;
    font-size: 3.6em;
    font-weight: 200;
    line-height: 1.3;
    text-align: center;
    max-width: 760px;
    padding: 0 30px;
    margin: 0 0 10px;
    color: white;
}

.magical-mischief-box4 h3 {
    font-family: Sofia Pro, serif;
    font-size: 16px;
    font-weight:lighter;
    line-height: 1.3;
    text-align: center;
    max-width: 520px;
    padding: 0 30px;
    color: white;
    margin-bottom: 40px;
}

#explore-button {
    font-family: Sofia Pro, serif;
    font-style: normal;
    color: white;
    padding: 18px 31px;
    border-radius: 30px;
    min-width:325px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    line-height: 1;
    margin-bottom: 150px;
}

.button-box1 {
    max-height: 50px;
    margin-bottom: 50px;
}
.diamond-box {
    /*margin: 20px auto;*/
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 150px;
    max-height: 150px;
    align-content: center;
    border-color: purple;
}
#diamond1 {
    z-index: 3;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    position: relative;
    border: solid 2.5px white;
    align-content: center;
    background-color: transparent;
    animation-name: diamond1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-delay: .5s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

#diamond1:before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    align-content: center;
    top: 5px;
    border: solid 2.5px white;
    background-color: transparent;
    animation-name: diamond2;
    animation-timing-function: ease-in-out;
    animation-duration: 1.15s;
    animation-delay: 1s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

#diamond1:after {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    align-content: center;
    top: 23px;
    left: 25px;
    border: solid 2.5px white;
    background-color: transparent;
    animation-name: diamond3;
    animation-timing-function: ease-in-out;
    animation-duration: 1.15s;
    animation-delay: 1.25s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}
@keyframes diamond1 {
    0% {
        border: solid 2.5px rgba(255, 255, 255, .5)
    }
    50% {
        border: solid 2.5px rgba(255, 255, 255, .25)
    }
    100% {
        border: none
    }
}

@keyframes diamond2 {
    0% {
        border: solid 2.5px rgba(255, 255, 255, .70)
    }
    50% {
        border: solid 2.5px rgba(255, 255, 255, .20)
    }
    100% {
        border: none
    }
}

@keyframes diamond3 {
    0% {
        border: solid 2.5px rgba(255, 255, 255, .70)
    }
    50% {
        border: solid 2.5px rgba(255, 255, 255, .20)
    }
    100% {
        border: none
    }
}

.flexbox-container2 {
    display: flex;
    margin-right: 5px;
    flex-direction: row;/* This will make boxes be in column*/
    flex-wrap:nowrap;
    justify-content: center; /*boxes will start where Main Axis starts */
    align-items: stretch; /*Default is Stretch, which makes boxes stretch the width of the container*/
    position: relative; /*This is only for multi line flex box containers. Determines where text within each flexbox starts*/
    align-content: space-between;
    width: 100%;
    background-image: linear-gradient(black, transparent), url("assets/star_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

span .flexbox-container2 {
    justify-content: left;
    position: absolute;
}

.wizard-location-box1 {
    margin-right: 10px;
    margin-left: 50px;
    margin-bottom: 30px;

}

.popping-frog-box2 {
    margin-right: 10px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.hp-publishing-box3 {
    margin-right: 10px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.fake-slider-box4 {
    position: absolute;
    bottom: 0;
    left: 5%;
    z-index: 1;
    justify-items: left;
}

.feature1 {
    display: inline-block;
    position: relative;
    left: 5px;
    z-index: 1;
    object-fit: contain;
    font-family: Mason, serif;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: white;
    right: 30px;
    bottom: 60px;
}
.feature2 {
    display: inline-block;
    position: relative;
    left: 10px;
    z-index: 1;
    object-fit: contain;
    font-family: Mason, serif;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: white;
    bottom: 60px;
        
}

.feature3 {
    display: inline-block;
    position: relative;
    left: 10px;
    bottom: 75px;
    z-index: 1;
    object-fit: contain;
    font-family: Mason, serif;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: white;
        
}

.headline1 {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-left: 15%;
    margin-top: 0%;
    object-fit: contain;
    font-family:  Bluu Next, serif;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: white;
        
}

.headline2 {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-left: 15%;
    margin-top: 0%;
    object-fit: contain;
    font-family:  Bluu Next, serif;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: white;
        
}

.headline3 {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-left: 15%;
    margin-top: 0%;
    object-fit: contain;
    font-family:  Bluu Next, serif;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: white;
        
}

.flexbox-container-3{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    margin: auto;
}
.sort-image-container {
    position: relative;
    min-height: 1px;
    clip-path: polygon(0 0,100% 0, 100% 100%, 0 100%);
    margin-right: 7%;
}
.overlay-hat {
    bottom: 0;
    left: 20;
    position: absolute;
    background-image: linear-gradient(90deg, rgba(16,20,27,.8), rgba(16,20,27,0));
    height: 100%;
    width: 23%;
}
.flexbox-container-3b {
    display: flex;
    flex-direction: column;
    align-self: center;
    position: relative;
    height: 100%;
    z-index: 1;
    margin: 0 0 0 10%;
    padding-left: 5%;
    padding-right: 0%;
}

#sorting-hat {
    font-family: Mason, sans-serif;
    font-size: 90%;
    color: white;
    font-weight: 700;
}

.flexbox-container-3b h1 {
    font-family: Bluu Next, serif;
    color: white;
    font-weight: 700;
    font-size: 3em;
}

.flexbox-container-3b h3 {
    color: white;
    font-family: Sofia Pro, serif;
    font-size:.85em;
}

#sort-button {
    font-family: Sofia Pro, serif;
    font-style: normal;
    color: white;
    padding: 18px 31px;
    border-radius: 30px;
    min-width:250px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    line-height: 1;
    margin-bottom: 150px;
}

.flexbox-container4 {
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: auto;
}

.niffler-image-container {
    position: relative;
    min-height: 1px;
    clip-path: polygon(0 0,100% 0, 100% 100%, 0 100%);
    margin-left: 3%;
}

.overlay-middle {
    bottom: 0;
    right: 0;
    position: absolute;
    background-image: linear-gradient(-90deg, rgba(16,20,27,.8), rgba(16,20,27,0));
    height: 100%;
    width: 23%;
}

.flexbox-container5 {
    display: flex;
    flex-direction: column;
    align-self: center;
    position: relative;
    height: 100%;
    z-index: 1;
    margin: 0 0 0 -10%;
    padding-left: 0;
    padding-right: 5%;
    
}

.flexbox-container5 h1 {
    font-family: Bluu Next, serif;
    color: white;
    font-weight: 700;
    font-size: 3em;
}

.flexbox-container5 h3 {
    color: white;
    font-family: Sofia Pro, serif;
    font-size:.85em;
    font-weight: lighter;
}

#gold-button {
    font-family: Sofia Pro, serif;
    font-style: normal;
    color: white;
    padding: 18px 31px;
    border-radius: 30px;
    min-width:250px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    line-height: 1;
    margin-bottom: 150px;
}
